# Environment variables
.env

# VS Code stuff
.vscode/**/*

# Downloaded images
images/**/*

# macOS crap
**/.DS_Store

# Automatic deployment
.current-rev

# Python virtualenv
.virtualenv
.venv

# Python cache
**/__pycache__
